$contaiterWidth: 940px;
$baseFontSize: 18px;

$blue: #61c4d9;
$darkgreen: #0b4d3c;

$z-fixed-menu: 100;

@import "./layout/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@300;400;500;700&display=swap');
@import "layout";
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/benefits-section.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/delivery.scss";
@import "./components/fixed-menu.scss";
