@import "./layout/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@300;400;500;700&display=swap");
html {
  font-size: 18px;
}

html body {
  height: 100%;
}

body {
  font-family: "Alegreya sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../../img/blue-decor.png") right center no-repeat;
  background-color: #61c4d9;
  color: #fff;
  height: 100vh;
  min-height: rem(650px);
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: rem(-40px);
  left: 2%;
  content: url("../img/3.png");
}
.hero:after {
  position: absolute;
  bottom: rem(-40px);
  left: 60%;
  content: url("../img/comp.png");
}

.hero__title-section {
  width: 46%;
  margin-bottom: rem(15px);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
}

.hero__main-title {
  display: flex;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(28px);
  padding-right: 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: rem(15px);
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}

.features {
  display: flex;
}

.features__item {
  margin-right: rem(46px);
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: rem(45px);
  margin-right: rem(7px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}

.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #0b4d3c;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(25px);
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: rem(50px);
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url("../img/shape.svg");
  position: absolute;
  top: rem(30px);
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #f4f5f6;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/decor.png") left top 57% no-repeat;
}
.benefits-section::before {
  content: url("../img/raspberry.png");
  position: absolute;
  bottom: rem(-80px);
  left: 0;
}

.reviews__display {
  background: #f8faf9;
  padding: rem(50px) rem(45px) rem(34px);
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  width: rem(90px);
  height: rem(90px);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: rem(-65px);
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(20px);
}

.reviews__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(22px);
  color: black;
}

.reviews__text {
  margin-bottom: rem(36px);
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  border: rem(6px) solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f6a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(20px);
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
}
.form__input--textarea {
  height: rem(180px);
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox::before {
  background: url("../img/Vector.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: rem(14px);
  height: rem(14px);
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-section {
  position: relative;
  background: url("../img/background3.png");
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: rem(5px);
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}