.benefit {
    text-align: center;
    @include phones{
        display: flex;
        text-align: left;
    }
    @include phones_375 {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #f4f5f6;
    border-radius: 50%;
    overflow: hidden;
    @include phones_375 {
        width: 5rem;
        height: 5rem;
    }
}
.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.benefit__image {
    margin-bottom: rem(19px);
    @include phones { 
        margin-bottom: 0;
        margin-right: rem(20px);
    }
    @include phones_375 {
        margin-bottom: 0;
        
    }
}
.icon__healthy {
background-image: url(../img/feat-2.png) ;
}
.icon__tasty {
    background-image: url(../img/feat-1.png) ;
}
.icon__nutrisious {
    background-image: url(../img/feat-3.png) ;
}