.benefits-section {
    position: relative;
    background: url("../img/decor.png")left top 57% no-repeat ;
&::before {
    content: url("../img/raspberry.png");
    position: absolute;
    bottom: -80px;
    left: 0;
}
}
