.btn {
    font-size: 19px;
    font-weight: bold;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;

    &--theme--white {
        background: #fff;
        color: $darkgreen;
        &:hover {
            color: #fff;
            background: $darkgreen;
        }
    }
}