.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--white {
        background: #fff;
        color: $darkgreen;
        &:hover {
            color: #fff;
            background: $darkgreen;
        }
    }
    &--green {
        background: $darkgreen;
        color: #fff;
        &:hover {
            color: $darkgreen;
            background: #fff;
        }
    }
        &--transparent {
            background: transparent;
            color: #000;
            text-transform: none;
            &:hover {
                color: $darkgreen;
            }
        }
    }