.order-section{
    position: relative;
    background: url("../img/background3.png");
    @include phones {
        .title {
            font-size: rem(30px) ;
        }
    }
    
}

h2 {
    text-align: center;
}