.feature {
    display: flex;
    ::before {
        content: url(../img/comp.svg);
        position: absolute;
        bottom: rem(-60px);
        right: rem(-160px);
    }

}
.feature__icon{
    width: rem(50px);
    margin-right: rem(7px);
}
.feature__text {
    color: black;
    font-size: rem(16px);
    max-width: rem(85px);
}

.icon__car {
    background: url("../img/car.svg") center no-repeat;
}
.icon__rule {
    background: url("../img/rulet.svg")center center no-repeat;
}
.icon__leaf {
    background: url("../img/1.svg")center center no-repeat;
}