
#menu__toggle {
    opacity: 0;
    
  }
  
  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    margin-left: -35px;
  }
  .menu__btn {
    display: inline-flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    display: none;
    @include tablets {
        display: inline-flex;
    }
    
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }