.hero {
    background: url("../../img/blue-decor.png") right center no-repeat;
    background-color: $blue;
    color:#fff;
    height: 100vh;
    min-height: 650px;
    position: relative;
    &:before {
        position: absolute;
        bottom: -40px;
        left: 2%;
        content: url("../img/3.png");}
    &:after {
            position: absolute;
            bottom: -40px;
            left: 60%;
            content: url("../img/comp.png");
        
    }
}
.hero__title-section {
    width: 46%;
    margin-bottom: 15px;
    
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
}

.hero__main-title {
    display: flex;
    
    

}
.hero__title-desc {
    font-size: 21px;
    margin-bottom: 28px;
  padding-right: 10%;
}
