.hero {
    background:
    url("../../img/blue-decor.png") right bottom no-repeat;
    background-color: $blue;
    color: #fff;
    height: 100vh;
    min-height: rem(650px);
    position: relative;
  
  
  &::after {
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
    content: url("../img/3.png");
  }
  &::before {
    position: absolute;
    bottom: rem(110px);
    left: 59%;
    content: url("../img/chocco1.png");
    @include tablets{
      display:none
    }
    @include phones {
      display: none;
    }
  
    
    }
  }
  
    .hero__title-section {
      width: 46%;
      margin-bottom: rem(15px);
      @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::before {
          content: "";
          width: rem(316px);
          height: rem(330px);
          background: url(../img/comp.png) center center / contain no-repeat;
          margin-bottom: rem(16px);
        }
      }
    }
    .hero__icons-section {
      @include tablets {
        display: none;
      }
    }
    .hero__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: rem(24px) 0 rem(45px);
      @include tablets {
        background: none;
      }
    }
  
    .hero__main-title {
      display: flex;
    }
    .hero__title-desc {
      font-size: rem(21px);
      margin-bottom: rem(28px);
      padding-right: 10%;
      @include phones {
          padding: 0 16%;
      }
  
      @include tablets {
        padding: 0 24%;
        margin-bottom: rem(16px);
      }
    }