.hero {
    background: url("../../img/blue-decor.png") right center no-repeat;
    background-color: $blue;
    color:#fff;
    height: 100vh;
    min-height: rem(650px);
    position: relative;
    &:before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("../img/3.png");}
    &:after {
            position: absolute;
            bottom: rem(-40px);
            left: 60%;
            content: url("../img/comp.png");
        
    }
}
.hero__title-section {
    width: 46%;
    margin-bottom: rem(15px);
    
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
}

.hero__main-title {
    display: flex;
    
    

}
.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(28px);
  padding-right: 10%;
}
