.phone-icon {
    margin-right: rem(5px);
    width: rem(13.93px);
    height: rem(13.78px);
    fill: white
}
.phone-icon_footer {
    margin-right: rem(5px);
    width: rem(12px);
    height: rem(12px);
    fill: #497870
}
