.socials__link {
    display: block;
    text-decoration: none;
    width: rem(25px);
    height: rem(25px);
    background: center center no-repeat;
    margin-right: rem(18px);
}
.socials__item:last-child{
    margin-right: 0;
}

.socials__item {
        display: inline-block;
        vertical-align: middle;
    }